# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS
bts.esproj/user.oleg.espressostorage
bts.esproj/Project.espressostorage
bts-icons.psd
bts.esproj/user.olegm.espressostorage